html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-background {
  background-color: #e6e2d3;
}
.custom-background2 {
  background-color: #b9936c;
}
.custom-table {
  border: 2px solid #b9936c;
}

.menu-item {
  border: 1px solid #4c2403fa;
  border-radius: 5px; 
  margin-right: 10px;
  margin-bottom: 5px; 
}